<h2 class="pt-3">About & Contact</h2>
<div class="row row-cols-1 row-cols-md-2 g-4 pt-3 pb-3">
  <div class="col">
    <div class="card">
      <img src="./images/peter.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Peter Conenna</h5>
        <p class="card-text">I have always been passionate about technology. I want to be able to combine my passion and my desire to help my community to create apps that can make a difference in people's lives.</p>
        <div>Email: peterconenna13@gmail.com</div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="./images/north.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">North Goddard</h5>
        <p class="card-text">As a highly passionate individual, I am extremely interested in the world of coding and computers. Combining technical expertise with a love for creative expression, I seek to leave a lasting impact on the technological landscape.</p>
        <div>Email: northgoddard@gmail.com</div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="./images/amadeus.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Amadeus Machuca</h5>
        <p class="card-text">A chef and bartender by trade, Amadeus took a jump into web development to bring accessible and community building apps available to all!</p>
        <div>Email: AmadeusMachuca3@gmail.com</div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="./images/steph.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Stephanie Angelito</h5>
        <p class="card-text">Biology enthusiast, craft beer aficionado, and excited about merging science and technology. Embracing the best of both worlds to create innovative solutions for the scientific community.</p>
        <div>Email: angelitostephanie@gmail.com</div>
      </div>
    </div>
  </div>
</div>