<div class="col">
<h1><u>Stock Tools</u></h1>

<h2><font size="-0.5">Owning a stock means you own a small part of that company, the more shares you own the more of the company you own. When the company you invested in makes money their stock price goes up making you money.</font></h2>

<h1><u>How to Read the Numbers</u></h1>

<div id="demo-container">Hello</div>

<h2><font size="-0.5">Stock charts are a great tool to visualize how a stock has done over time. We can see when they are on the rise or declining in value. Learning how to read a simple stock chart is a great way to get an idea of when to invest and to look at a companys trading history on the market.</font></h2>

<h1><u>When to Invest</u></h1>

<h2><font size="-0.5">Its actually a rather simple concept, when the price is low that is the time to buy. But if you are looking for a long term investment, maybe for your retierment. The buy low concept should not be a major factor in your decision since you will be watching it grow over a 10-20 year period. Think about this, if you invested $1,000 in facebook in January of 2019 your $1,000 would now be worth $2,600. Thats almost triple your investment!</font></h2>

<h1>How to Create a Balanced Portfolio</h1>

<h2>The saying don't put all your eggs in one basket has never been more true when starting your investing jounry. Think of an industry or a field as one of those eggs, its okay to have multiple stocks in the tech world but it is never a good idea to only invest in one industry.You will want to have a very diverse portfolio with stocks in tech, services, energy, etc...</h2>

</div>


<script src="./js/stockChart.js"></script>
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/indicators/indicators-all.js"></script>
<script src="https://code.highcharts.com/stock/modules/drag-panes.js"></script>
<script src="https://code.highcharts.com/modules/annotations-advanced.js"></script>
<script src="https://code.highcharts.com/modules/price-indicator.js"></script>
<script src="https://code.highcharts.com/modules/full-screen.js"></script>
<script src="https://code.highcharts.com/stock/modules/heikinashi.js"></script>
<script src="https://code.highcharts.com/stock/modules/hollowcandlestick.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>